<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sick Tako - Network Resource prpr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="sss/bootstrap/css/bootstrap.min.css">
  <script src="sss/jquery.min.js"></script>
  <script src="sss/bootstrap/js/bootstrap.min.js"></script>
  <script src="sss/underscore-min.js"></script>
	<script>
$(function()
{
    $("#target-web").focus();
    $("#target-web").keypress(keysubmit);
    $("#target-exp").keypress(keysubmit);
    //var jsonstr='[{"cmd_action": "test", "cmd_target": "http://share.popgo.org/", "author": "233_233_null", "remark": "", "expre": "(?<=<td class=\\"inde_tab_hot\\"><a href=\\").*?(?=&)"},{"cmd_action": "test", "cmd_target": "http://share.popgo.org/", "author": "233_233_null", "remark": "", "expre": "(?<=<td class=\\"inde_tab_hot\\"><a href=\\").*?(?=&)"}, {"cmd_action": "test", "cmd_target": "http://share.popgo.org/", "author": "", "remark": "", "expre": "(?<=<td class=\\"inde_tab_hot\\"><a href=\\").*?(?=&)"}, {"cmd_action": "test", "cmd_target": "http://share.popgo.org/", "author": "233_233_null", "remark": "", "expre": "(?<=<td class=\\"inde_[a-z]_hot\\"><a href=\\").*?(?=&)"},{"cmd_action": "test", "cmd_target": "http://share.popgo.org/", "author": "233_233_null", "remark": "", "expre": "(?<=<td class=\\"inde_tab_hot\\"><a href=\\").*?(?=&)"}]';
    //var jsonobj=jQuery.parseJSON(jsonstr);
    //setdivcon("lv1div",jsonobj);
    $.ajax(
            '/app_getdata_p?reqobj=histobj&p=1',
            {
                cache: false,
                type: "get",
                data:{
                    reqobj:"histobj",
                    p:"1"
                    },
                dataType: 'json', 
                success: function(resp){
                                       //alert('get resp from histobj'+resp[0]); 
                                       _.templateSettings.variable = "listitem";
                                       var template = _.template(
                                            $( "script.template" ).html()
                                            );
                                       $("#lv1div").append(
                                                   template(resp)
                                                           );
                                        },
                error: function(e){
                                    alert('get histobj error heppen',e);
                                    }                 
            
            
            }
    
            );

})

function setdivcon(sldivid,datatofill)
{
    $('#'+sldivid).text('');
    $.each(datatofill, function(i, obj) {
        if (i%2==0)
        {
        bgcl='"background-color:lavender;">';    
        }
        else
        {
        bgcl='"background-color:lavenderblush;">';
        }
        hddiv='<div class="col-sm-4" style=';
        eddiv='</div>';
        $('#'+sldivid).prepend(hddiv+bgcl+obj["cmd_target"].replace(new RegExp('&lt;(/)?b\\s*&gt;', 'gi'), '<$1b>')+eddiv);
    });
}

		function keysubmit(e)
		{
			if(e.which == 13)
			{
				//alert(encodeURIComponent($("#target-web").val()));
				$.ajax( '/app_cmd',
						{
							cache: false,
							type: 'GET',
							data: 
							{
								cmd:$("#target-web").val(),
								exp:$("#target-exp").val(),
                                                                cks:$("#target-cks").val()
							},
								dataType: 'json',
								success: function(resp)
							{
								//alert(resp[0]);
                         $('#fbdiv1').html(resp)
                         $('#myModal').modal('show')
							},
							error: function(error) 
							{
								alert( 'something went wrong', error);
							}
						}
					);
			}
		}

	</script>
</head>
<body>

<div class="container">
  <h2>XXXXXXXXXXX</h2>
  <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:</p>
        <div class="form-group">
            <label for="target-web">CMD:</label>
            <input type="text" class="form-control" id="target-web">
        </div>
        <div class="form-group">
            <label for="target-exp">EXP:</label>
            <input type="text" class="form-control" id="target-exp">
        </div>
        <div class="form-group">
            <label for="target-cks">COOKIES:</label>
            <input type="text" class="form-control" id="target-cks">
        </div>
	<div class="container-fluid">
	  <h1>XXXXXXXX</h1>
	  <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</p>
	  <div id="lv1div" class="row">
          <!--
	    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
	    <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
	    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
            -->
	  </div>
	</div>

<!-- Modal -->
<div id="myModal"class="modal fade"role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <buttontype="button" class="close"data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" id="fbdiv1">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <buttontype="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>



<script type="text/template" class="template">
    <div id="tempdiv" class="row">
        <% _.each(listitem,function(item,i){ %>
        <% if(i%2==0){stylestr="background-color:lavender;"}else{stylestr="background-color:lavenderblush;"} %> 
            <div class="col-sm-4" style=<%- stylestr  %>>
            <%- item["cmd_target"]  %>
            </div>
        <% }) %>
    </div>
</script>

</body>
</html>
